body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-header{
  font-size: 30pt;
  font-weight: bold;
  color: #fbab01;
  font-family: Arial, Helvetica, sans-serif;
}

.checkboxy {
  margin: 0.4em;
}

.region {
  border: solid;
  border-radius: 30px;
  color: #fbab01;
  margin-top: 2em!important;
}

.region-header{
  font-size: 16pt;
  font-weight: bold;
  color: #fbab01;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5em!important;
  margin-bottom: 0.5em!important;
  margin-left: 1em!important;

}

.spacer {
  height: 1em;
}

.col-3 > label {
  color: #959595;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #df5d5d;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.noMargin {
  margin: 0;
}

.plsi {
  padding-left: 16px !important;
}

.noBullet {
  list-style-type: none;
  margin-left: 1em;
  display:inline-block;
  
}

.customGrey {
  color: #959595!important;
  text-decoration: none;
  font-size: 16pt;
}

.grey {
  color: #959595!important;
}

.collapse > li{
  display:inline-block;
  vertical-align:middle;
}

/* .collapse > li:last-child{
  float: right;
  margin-left: 40%;
} */

.fit {
  margin: auto;
  min-height: 100%;
  max-height: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.customInput{
  width: 90%!important;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px!important;
}

.p-0 > label{
  font-size: 10pt;
}

.filterWrapper {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.filterHeader{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
  color: #67BA4C;
}

.imgicon {
  height: 15pt;
  margin-right: 5px;
}

.accordion-body > .row > .col-3 {
  padding-left: 10px;
  padding-right: 0px;
}

.accordion-body > .row > .col-3 > label {
  font-size: 10pt;
}

.accordion-body > .row > .col-2 > label {
  padding-bottom: 0px;
}

.accordion-body > .row > .col-1  {
  padding-left: 0px;
  padding-right: 0px;
}

.cardText {
  font-family: Arial;
  font-size: 10pt;
  color: #959595!important;
  padding-left: 18px!important;
}

.imgdetail {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    cursor: pointer;
}
